<nav class="sidebar p-2">
  <ul class="list-unstyled mx-2 p-1">
    <li class="link mb-3 d-flex align-items-center mx-auto" routerLink="/home">
      <i class="fa-solid fa-house"></i>
      <a class="menu-text fw-bold py-1 ms-3">Home</a>
    </li>
    <li
      class="link mb-3 d-flex align-items-center py-1 mx-auto"
      routerLink="/users"
    >
      <i class="fa-solid fa-users"></i>
      <a class="menu-text fw-bold ms-3">Users</a>
    </li>
    <li
      class="link mb-3 d-flex align-items-center py-1 mx-auto"
      routerLink="/settings"
    >
      <i class="fa-solid fa-gear"></i>
      <a class="menu-text fw-bold ms-3">Setting</a>
    </li>
    <li
      class="link mb-3 d-flex align-items-center py-1 mx-auto"
      routerLink="/dashboard"
    >
      <i class="fa-solid fa-chart-pie"></i>
      <a class="menu-text fw-bold ms-3">Dashboard</a>
    </li>
  </ul>
</nav>
