<nav class="sidebar p-2">
  <ul class="list-unstyled mx-2 p-1">
    <li
      class="link mb-3 d-flex align-items-center mx-auto"
      routerLink="/home"
      routerLinkActive="active"
      title="Home"
    >
      <i class="fa-solid fa-house"></i>
      <a class="menu-text fw-bold py-1 ms-3">Home</a>
    </li>
    <li
      class="link mb-3 d-flex align-items-center py-1 mx-auto"
      routerLink="/users"
      routerLinkActive="active"
      title="Users"
    >
      <i class="fa-solid fa-users"></i>
      <a class="menu-text fw-bold ms-3">Users</a>
    </li>
    <li
      class="link mb-3 d-flex align-items-center py-1 mx-auto"
      routerLink="/settings"
      routerLinkActive="active"
      title="Settings"
    >
      <i class="fa-solid fa-gear"></i>
      <a class="menu-text fw-bold ms-3">Settings</a>
    </li>
    <li
      class="link mb-3 d-flex align-items-center py-1 mx-auto"
      routerLink="/dashboard"
      routerLinkActive="active"
      title="Dashboard"
    >
      <i class="fa-solid fa-chart-pie"></i>
      <a class="menu-text fw-bold ms-3">Dashboard</a>
    </li>
    <li
      class="link mb-3 d-flex align-items-center py-1 mx-auto"
      routerLink="/drag"
      routerLinkActive="active"
      title="Drag"
    >

      <i class="fa-solid fa-arrows-up-down-left-right"></i>
      <a class="menu-text fw-bold ms-3">Drag&Drop</a>
    </li>
    <li
      class="link mb-3 d-flex align-items-center py-1 mx-auto"
      routerLink="/download&upload"
      routerLinkActive="active"
      title="Drag"
    >

      <i class="fa-solid fa-download"></i>
      <a class="menu-text fw-bold ms-3">Download&Upload</a>
    </li>
  </ul>
</nav>
