<nav class="header d-flex align-items-center justify-content-between shadow-sm">
  <div class="d-flex align-items-center p-2">
    <button class="btn p-0 mx-2" aria-label="Menu" (click)="menuToggle.emit()">
      <i class="fa-solid fa-bars fs-5"></i>
    </button>
    <span class="h2 mb-0 fw-bolder">GM</span>
  </div>
  <div class="d-flex align-items-center p-2">
    <button class="btn p-0 mx-2">
      <i class="fa-solid fa-light fa-moon"></i>
    </button>
    <button class="btn p-0 mx-2">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>
  </div>
</nav>
