<section class="p-4">
  <div class="grid">
    @for (user of users; track user.id) {

    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
      <p-card class="h-full">
        <!-- Header -->
        <ng-template pTemplate="header">
          <div class="flex flex-column align-items-center gap-2">
            <p-avatar [image]="user.image" size="large" shape="circle">
            </p-avatar>

            <div class="text-center">
              <h4 class="m-0">{{ user.firstName }} {{ user.lastName }}</h4>
              <small class="text-500"> &#64;{{ user.username }} </small>
            </div>
          </div>
        </ng-template>

        <!-- Content -->
        <div class="text-center mt-3">
          <p class="m-0">
            <i class="pi pi-phone mr-2"></i>
            {{ user.phone }}
          </p>

          <p class="text-500 mt-2">
            <i class="pi pi-building mr-2"></i>
            {{ user.university || "—" }}
          </p>
        </div>

        <!-- Footer -->
        <ng-template pTemplate="footer">
          <p-button
            label="View Details"
            icon="pi pi-arrow-right"
            severity="secondary"
            styleClass="w-full"
            (click)="onDetail(user.id)"
          >
          </p-button>
        </ng-template>
      </p-card>
    </div>

    } @empty {
    <div class="col-12 text-center text-500">No users found</div>
    }
  </div>
</section>
