.custom-container {
  /* max-width: 1200px; */
}
::ng-deep .p-card-title{
 padding: 10px;
}
::ng-deep .p-card-subtitle{
 padding: 10px;
}
::ng-deep .p-card-content{
 padding: 10px;
}
::ng-deep .p-card-footer{ display: flex; justify-content: end;
}
