.main-wrapper {
  display: flex;
  transition: all 0.3s ease-in-out;
}

app-sidebar {
  width: 250px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  background: var(--bg-color2);
  border-right: 1px solid var(--text-color1);
}

.sidebar-collapsed app-sidebar {
  width: 70px;
}

.content-area {
  flex: 1;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}

.sidebar-collapsed .content-area {
  margin-left: 0;
}
