.signUp-wrapper {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);}

.signUp-container {
  background-color: var(--bg-color2);
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 25rem;
  animation: fadeIn 0.4s ease-in-out;
}

.signUp-container h2 {
  font-weight: 700;
  color: var(--text-color);
}

.terms {
  font-size: 0.8rem;
    color: var(--text-color2);

}
input::placeholder {
  color: var(--text-color2);
}
.form-control {
  border-radius: 8px;
  background-color: var(--bg-color) ;
  border: none  !important;
  border: 1px solid #ccc;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.form-control:focus {
  border-bottom-color: var(--primary-color);
}

.signUp{
  color: var(--bg-color2);
  background-color: var(--primary-color);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
